

.params {
    background-color: black;
    color: white;
    height: 600px;
}

.params h3 {
    background-color: black;
    border-radius: 10px;
    border: 8px solid rgb(70, 69, 69);
}














